#icon1:hover{
    color: tomato;
}

#b1:hover{
    color: orange;
}


#nav1{


    border-top: none;
    border-bottom: none;
    /*background: linear-gradient(to right, #000000, #434343);*/
    /*background: #12947f;*/
    /*background: #1f4068;*/
    /*background: #00909e;*/
    /*background: #06623b;*/
    /*background: #442727;*/
    /*background: #2b580c;*/
    /*background: #235952;*/
    /*background: #216353;*/
    background: #464159;
}


#navul a:hover{
    background-color: beige;
    color: crimson;
    font-weight: bolder;
}

.sec1{


    height: auto;
    background: linear-gradient(to right, rgba(0,0,0,0.5), rgb(67,67,67)),url('https://i.pinimg.com/originals/17/cd/41/17cd4124e87c4b30a5fecf2605d86b6b.png');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec1 p{
    text-align: center;

    font-weight: bolder;
    font-size: 2.2rem;


}

.p1{
    margin-top: -130px;

}



.sp1{
    font-size: 3rem;
    color: crimson;

}

.p-div{
    padding: 220px 0px;

}

#sp{

    font-size: 3rem;
}


.typed-cursor{
    color: #fff;
}






/*Section 2 code starts here */
.sec2{
    width: 50%;
    margin: auto;
    border: 1px solid red;
    margin-top: 20px;

}

.about{
  margin-top: 30px;
    margin-bottom: 30px;
}


.abp{
    font-size: 3.5rem;
    text-decoration: dashed;

}

.well-inner{
    margin-left: 50px;
}


.abt-txt{
  text-align: justify;
    line-height: 3.2rem;
}

/*Section 2 Code Ends Up Here*/



/*section 3 code starts here */
#hireme{
  background-color:rgb(67,67,67) ;
    text-align: center;
    margin-bottom: 10px;
}

.hirediv{

   padding: 20px 0px;
}

#downcv{
    margin:5px 0px;
}

#downcv:hover{
    background-color: transparent;
    color: cornsilk;
}

/*Section 3 Code Ends up Here*/



/*Section 4 Code Starts Here*/

#myCar{
    margin: auto;
    width: 600px;
    height: 350px;


}

.car-sec{
    margin-top: 20px;


}


@media (min-width:0px) and (max-width:768px){
    #mycar{
        margin: auto;
        width: 60%;
        height:60%
    }

    .car-img{
        width: 60%;
        height:60%
    }
}








